// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.btn {
  background-color: @background-color-highlight !important;
  color: @text-color-selected !important;
  border-bottom: 1px solid @base-border-color;
  border-radius: 0;
}
.modal-content {
  background-color: @overlay-background-color !important;
}
#toktok-streams {
  background-color: @tree-view-background-color;
  margin: 0;
  padding: 0;
  text-align: center;
}
.opentok-logo {
  padding-top: 100px;
  width: 200px;
  margin: 0 auto;
}
